@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Poppins:wght@500&display=swap');
.carousel-inner {
    height: auto;
}

.restration-bg-info{
    background-color:#1C80F9;
    }
    .btn-get-register{
        background-color: #fff;
        color:#1C80F9;
        border:none;
    padding: 9px 24px;
     border-radius: 8px ;
    }
.btn-get-started{

    background-color:#1C80F9;
    color: #fff;
    border:none;
    padding: 9px 24px;
     border-radius: 8px }
     .footer-header {
        height: 200px;
        background-color: black;
        color: #fff;
     }
