.carousel-inner {
    height: auto;
}

.restration-bg-info{
    background-color:#1C80F9;
    }
    .registration-btn {
        background-color: #fff;
        color:#1C80F9;
        border:none;
    padding: 9px 24px;
     border-radius: 8px ;
    }
.btn-get-started{

    background-color:#1C80F9;
    color: #fff;
    border:none;
    padding: 9px 24px;
     border-radius: 8px }
     
}